# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related (Scoped to /client)
client/**/doc/api/
client/**/ios/Flutter/.last_build_id
client/.dart_tool/
client/.flutter-plugins-dependencies
client/.pub-cache/
client/.pub/
client/build/
client/coverage/

# Symbolication related
client/app.*.symbols

# Obfuscation related
client/app.*.map.json

# Android Studio will place build artifacts here
client/android/app/debug
client/android/app/profile
client/android/app/release
/build/
**/build/
.dart_tool/
.pub-cache/
android/.gradle/
android/local.properties
.flutter-plugins-dependencies
backend/firebase-credentials.json